[submodule "AEL - PHP 5.6 - Apache - phpAdmin - MySQL"]
	path = AEL - PHP 5.6 - Apache - phpAdmin - MySQL
	url = https://github.com/LeanBrizu/proyecto_ael.git
[submodule "PHP 5.3 - Apache - Debian"]
	path = PHP 5.3 - Apache - Debian
	url = https://github.com/LeanBrizu/proyecto_ael_php5.3.git
